/* Generelt */
body {
  background-color: #fffdf8;
}
main {
  padding: 1em 4em;
  align-content: space-between;
}
h1,
h2,
h3,
p {
  color: #494949;
  font-family: Arial, Helvetica, sans-serif;
}
a,
h2 {
  text-decoration: none;
  color: #494949;
  font-weight: 400;
  font-size: medium;
}

/* Forside */
.categories_grid1_1_1_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 2em;
}
.card_categories {
  width: 150px;
  border: 2px solid #494949;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  h2 {
    place-self: center;
  }
}

/* Productlist */
.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
  gap: 2rem;
}
.productlist h1 {
  grid-column: 1/-1;
}
.productlist article {
  border-radius: 8px;
  border: 2px solid #494949;
  padding: 1rem;
  img {
    width: 100%;
  }
  h3 {
    font-size: 1rem;
    flex-grow: 3;
  }
  .subtitle {
    color: #494949;
  }
}
.productlist article {
  display: flex;
  flex-direction: column;
}
.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}
.productlist article.soldout img {
  opacity: 0.5;
}
.productlist article.soldout::before {
  content: "Sold Out";
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
}
.productlist article .sale {
  display: none;
}
.productlist article.onSale .sale {
  display: flex;
  justify-content: space-between;
}
.sale > p {
  margin-bottom: 0;
}
.productlist article.onSale .price span {
  text-decoration: line-through;
  color: #7d7b7b;
}
.productlist article button {
  margin-top: auto;
}
.productlist article {
  margin-top: 1rem;
}
.sale p:last-child {
  background-color: red;
  padding: 0.2rem;
  color: white;
}
.productlist article.product_card {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: span 6;
}
.productlist article a {
  color: #494949;
  font-size: 1rem;
}

/* Product */

.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.productContainer figure::before {
  content: "U D S A L G !";
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
}
.productDetails {
  .productName {
    font-size: xx-large;
    font-weight: bold;
  }
  .buyBtn {
    border-radius: 8px;
    border: 2px solid #494949;
    padding: 0.8rem 2rem;
    margin-top: 1em;
  }
}
span.bold {
  font-weight: 700;
}
.formGroup select.size-select {
  border-radius: 8px;
  border: 2px solid #494949;
  option {
    margin: 1em;
  }
}
