/* Generelt */
body {
  background-color: #fffdf8;
}
main {
  padding: 1em 4em;
  align-content: space-between;
}

h1,
h2,
h3,
p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
  grid-column: 1/ -1;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}
/* Header */
header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 2em;
  nav,
  ul {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    column-gap: 1em;

    li {
      list-style-type: none;
      text-decoration: underline;
    }
  }
}
h1 span {
  color: red;
  display: inline-block;
  transform: scaleX(-1);
}
/* Forside */
.categories_grid1_1_1_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 2em;
}
.card_categories {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  padding: 2em;
  background-color: #949394;
  color: white;
  font-size: 1.2em;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  h2 {
    place-self: center;
  }
}

/* Productlist */
.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
  gap: 2rem;
}

.productlist article {
  padding: 1rem;
  img {
    width: 100%;
  }
  h3 {
    font-size: 1rem;
    flex-grow: 3;
    padding-top: 0.5rem;
  }
  .subtitle {
    color: black;
  }
}
.productlist article {
  display: flex;
  flex-direction: column;
}
.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}
.productlist article.soldout img {
  opacity: 0.5;
}
.productlist article.soldout::before {
  content: "Sold Out";
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.productlist article .sale {
  display: none;
}
.productlist article.onSale .sale {
  display: flex;
  justify-content: space-between;
}
.sale > p {
  margin-bottom: 0;
}
.productlist article.onSale .price span {
  text-decoration: line-through;
  color: #7d7b7b;
}
.productlist article button {
  margin-top: auto;
}
.productlist article {
  margin-top: 1rem;
}
.sale p:last-child {
  background-color: red;
  padding: 0.2rem;
  color: white;
}
.productlist article.product_card {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: span 6;
  row-gap: 0.2rem;
}
.productlist article a {
  color: #494949;
  font-size: 1rem;
  text-decoration: underline;
}

/* Product */

.product {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.productDetails {
  figure,
  img {
    width: 100%;
  }
  .productName {
    font-size: xx-large;
    font-weight: bold;
  }
  .buyBtn {
    border-radius: 4px;
    background-color: #949394;
    color: white;
    padding: 0.8rem 2rem;
    margin-top: 1em;
    border: 0;
  }
}
span.bold {
  font-weight: 700;
}
.formGroup select.size-select {
  border-radius: 8px;
  border: none;
  border: 2px solid #494949;
  option {
    margin: 1em;
  }
}

.sale {
  display: none;
}

.product.onSale .sale {
  display: flex;
  justify-content: space-between;
}
.product.onSale .productPrice {
  text-decoration: line-through;
  color: #7d7b7b;
}
.product.soldout img {
  opacity: 0.5;
}

.product.onSale figure::before {
  content: "S A L E !";
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.product.soldout figure::before {
  content: "SOLD OUT ";
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.product.soldout button {
  display: none;
}
